@import "../../App.scss";

.feature-box-wrapper {
  background: $secondary_light_color;
  padding: 30px 20px;
  border-radius: $radius_twenty;

  .icon-wrapper {
    img {
      max-width: 55px;
    }
  }

  .details-wrapper {
    h4 {
      font-size: 17px;
      margin-bottom: 5px;
    }

    p {
      font-size: 14px;
    }
  }
}
